/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-width:100vh;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*^^^^^CSS reset ^^^^^*/

body{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:8rem;
    background-color:gold;

}

main{
    min-width:600px;
    min-height:600px;
    background-color: white;
    border:3px black solid;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:1rem;
    padding:1rem;
    border-radius:10px;
}

h3{
  font-size:3rem;
}

.game-container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  padding:2rem;
  border:3px black solid;
  background-color:skyblue;
  border-radius:10px;
}

.card{
  width:5rem;
  border:3px black solid;
  padding:4rem; 
  background-color:white; 
}

.card:hover{
  background-color:green;
}

#restart{
  padding:0.5rem;
  border-radius:10px;
}